* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #FDF8F5;
  color: #4F4846;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #266150;
}

header {
  position: fixed;
  border-bottom: 10px solid #DDAF94;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #000000;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #3b3b3b;
  background-color:  #4b4953;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #eee4fa;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: #000000;
  color: #fcfcfc;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 30px;
  background-image: url("https://pbs.twimg.com/profile_images/1469930420598820869/jB35deZK_400x400.jpg");
  background-size: auto;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 30px;
}

.float-right {
  float: right;
  margin-left: 30px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #000000;
}

.benefit-lead , .benefit-brand , .benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 ,.benefit-brand h3 , .benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img ,.benefit-brand img , .benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.search-engine-optimization , .online-reputation-management ,.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #024e7e;
  color: #ffffff;
}

.search-engine-optimization img ,.online-reputation-management, img .social-media-marketing img {
  max-height: 200px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
